/* ============================= */
/* Explore Page Styles */
/* ============================= */

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background: url('../assets/images/vr-scene.png') no-repeat center center/cover;
    padding: 350px 20px;
    color: #fff;
    text-align: center;
    position: relative;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}


.hero p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto;
}

/* How it works section */
.how-it-works {
  background-color: #000000;
  padding: 60px 20px;
  text-align: center;
}

.how-it-works h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.how-it-works ol {
  list-style-position: inside;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.8;
}

/* Optional: FAQ section */
.faq-section {
  padding: 50px 20px;
  background-color: #758ca4;
  max-width: 900px;
  margin: 0 auto;
}

.faq-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.faq-item p {
  font-size: 1rem;
  line-height: 1.5;
}
.section-description {
  font-size: 30px;
  display: flex;
  flex-direction: column;
    align-items: center;
}
@media (max-width: 768px) {
  .hero {
    padding: 250px 20px;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
    max-width: 90%;
  }

  .how-it-works ol {
    font-size: 1rem;
  }

  .faq-section h2 {
    font-size: 1.5rem;
  }
  .section-description {
    font-size: 24px;
  }
}